@media screen and (min-width: 968px){
    $big-font-size: 3.5rem;
    $h1-font-size: 2.25rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;
}

@media screen and (max-width: 768px){
    .nav__menu{
      position: fixed;
      background-color: var(--container-color);
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      box-shadow: -.2rem 0 .4rem hsla(var(--hue), 24%, 15%, .1);
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition: .3s;
      z-index: $z-fixed;
    }
}

//For Small Devices
@media screen and (max-width: 320px){
    // .container{
    //   margin-left: $mb-1;
    //   margin-right: $mb-2;
    // }

    .home__img{
      width: 18rem;
    }

    .home__title{
      font-size: $h1-font-size;
    }

    .steps__bg{
      padding: 2rem 1rem;
    }

    .steps__card{
      padding: 1.5rem;
    }

    .product__container{
      grid-template-columns: .6fr;
      justify-content: center;
    }
}

//For medium devices
@media screen and (min-width: 576px){
  .steps__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .product__description{
    padding: 0 4rem;
  }
}

@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  .nav{
    height: calc(3.5rem + 1.5rem);
    column-gap: 3rem;

    .nav__btns .nav__toggle, .nav__close{
      display: none;
    }

    .nav__list{
      flex-flow: row;
      column-gap: 3rem;
    }
  }

  .home__container, .about__container, .questions__container, .contact__container, .footer__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
  }

  .home{
    padding: 8rem 0 5rem;

    .home__img{
      width: 28rem;
      order: 1;
    }

   .home__social{
     top: 30%;
   }
  }

  .questions__container{
    align-items: flex-start;
  }

  .footer__container{
    column-gap: 3rem;
  }

  .footer__suscribe{
    width: initial;
  }
}

//For large Devices
@media screen and (min-width: 992px){
  .section{
    padding: 8rem 0 1rem;
  }

  .section__title, .section__title-center{
    font-size: $h1-font-size;
  }

  .home{
    padding: 8rem 0 5rem;

    .home__container{
     text-align: center;
     column-gap: 2rem;
    }
  }

  .steps__container{
    grid-template-columns: repeat(3, 1fr);
  }

  .steps__bg{
    padding: 3.5rem 2.5rem;
  }

  .steps__card-title{
    font-size: $normal-font-size;
  }

  .product__description{
    padding: 0 16rem;
  }

  .product__container{
    padding: 4rem 0;
    grid-template-columns: repeat(3, 18.5rem);
    justify-content: center;
    gap: 4rem 6rem;

    .product__img{
      width: 14rem;
    }
  }

  .product__circle{
    width: 11rem;
    height: 11rem;
  }

  .product__title, .product__price{
    font-size: $normal-font-size;
  }

  .questions__container{
    padding: 1rem 0 4rem;
  }

  .questions__title{
    text-align: initial;
  }

  .questions__group{
    row-gap: 2rem;
  }

  .questions__header{
    padding: 1rem;
  }

  .questions__description{
    padding: 0 3.5rem 2.25rem 2.75rem;
  }

  .footer__logo{
    font-size: $h3-font-size;
  }

  .footer__container{
    grid-template-columns: 1fr .5fr .5fr .5fr;
  }

  .footer__copy{
    margin: 7rem 0 2rem;
  }
}

@media screen and (min-width: 1200px){
  .home__social{
    right: -3rem;
    row-gap: 4.5rem;
  }

  .home__social-follow{
    font-size: $small-font-size;
  }

  .home__social-follow::after{
    width: 1.5rem;
    right: -60%;
  }

  .home__social-link{
     font-size: 1.15rem;
  }

  .about__container{
    column-gap: 5rem;
  }

  .scrollup{
    right: 3rem;
  }

  .contact__box{
    justify-self: center;
  }
}