.about__container{
    row-gap: 2rem;

    .about__img{
        width: 28rem;
        justify-self: center;
    }

    .about__title{
        margin-bottom: $mb-1;
    }

    .about__description{
        margin-bottom: $mb-2;
    }

    .about__details{
        display: grid;
        row-gap: 1rem;
        margin-bottom: $mb-2-5;
    }

    .about__details__description{
        display: inline-flex;
        column-gap: .5rem;
        font-size: $small-font-size;
    }

    .about__details-icon{
        font-size: 1rem;
        color: var(--first-color);
        margin-top: .15rem;
    }
}