.footer__container{
    row-gap: 3rem;
}

.footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: $mb-2-5;
    transition: .3s;

    &:hover{
        color: var(--first-color);
    }
}

.font__logo-icon{
    font-size: 1.15rem;
    color: var(--first-color);

    &:hover{
        color: var(--first-color);
    }
}

.footer__title{
    font-size: $h3-font-size;
    margin-bottom: $mb-1-5;
}

.footer__suscribe{
    background-color: var(--first-color-lighten);
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
}

.footer__input{
    width: 70%;
    padding: 0 .5rem;
    background: none;
    border: none;
    outline: none;
}

.footer__button{
    padding: 1rem;
}

.footer__data{
    display: grid;
    row-gap: .75rem;
}

.footer__information{
    font-size: $small-font-size;
}

.footer__social{
    display: inline-flex;
    column-gap: .75rem;
}

.footer__social-link{
    font-size: 1rem;
    color: var(--text-color);
    transition: .3s;

    &:hover{
        transform: translateY(-.25rem);
    }
}

.footer__cards{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.footer__card{
    width: 3.5rem;
}

.footer__copy{
    text-align: center;
    font-size: $smaller-font-size;
    color: var(--text-color-light);
    margin: 5rem 0 1rem;
}