.steps__bg{
    background-color: var(--first-color);
    padding: 3rem 2rem 2rem;
    border-radius: 1rem;
    
    .steps__container{
        gap: 2rem;
        padding-top: 1rem;
    }

    .steps__title{
        color: #fff;
    }

    .steps__card{
        background-color: var(--container-color);
        padding: 2.5rem 3rem 2rem 1.5rem;
        border-radius: 1rem;
    }

    .steps__card-number{
        display: inline-block;
        background-color: var(--first-color-alt);
        color: #fff;
        padding: .5rem .75rem;
        border-radius: .25rem;
        font-size: $h2-font-size;
        margin-bottom: $mb-1-5;
        transition: .3s;
    }

    .steps__card-title{
        font-size: $h3-font-size;
        margin-bottom: $mb-0-5;
    }

    .steps__card-description{
        font-size: $small-font-size;
    }

    .steps__card:hover .steps__card-number{
        transform: translateY(-.25rem);
    }
}